body label{
    text-align: center;
    background-color: aqua;
}
input{
    background-color: crimson;
}

ul{
    display: flex;
    justify-content: center;
    /* text-decoration: none; */
    list-style-type: none;
    gap: 20px;
    background-color: blueviolet;
    color: whitesmoke;
}